* {
    box-sizing: border-box;
}

input {
    font-size: large;
}

#fname {
    position: absolute;
    top: 36%;
    width: 20%;
    height: 45px;
    left: 8%;
}

#mname {
    position: absolute;
    top: 36%;
    width: 20%;
    height: 45px;
    left: 472px;
}

#lname {
    position: absolute;
    top: 36%;
    width: 20%;
    height: 45px;
    left: 69%;
}

#dob {
    position: absolute;
    top: 54%;
    width: 20%;
    height: 45px;
    left: 8%;
}

#adress {
    position: absolute;
    top: 54%;
    width: 49%;
    height: 45px;
    left: 38%;
}

#cgpa {
    position: absolute;
    top: 130%;
    width: 20%;
    height: 45px;
    left: 8%;
}

#password {
    position: absolute;
    top: 130%;
    width: 20%;
    height: 45px;
    left: 38%;
}

#mnum {
    position: absolute;
    top: 130%;
    width: 20%;
    height: 45px;
    left: 69%;
}

h4 {
    position: absolute;
    left: 25%;
    font-size: 30px;
}

h5 {
    position: absolute;
    left: 25%;
    font-size: 30px;
    top: 25%;
}

body {
    font-size: 14px;
}

.v1_3 {
    width: 100%;
    height: 1024px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_4 {
    width: 91%;
    height: 82px;
    background: #5f9ea0;
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 64px;
}

.v1_5 {
    width: 773px;
    color: rgba(247, 237, 249, 1);
    position: absolute;
    top: 55px;
    left: 260px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v1_10 {
    width: 446px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 165px;
    left: 30px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_12 {
    width: 230px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 279px;
    left: 76px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_13 {
    width: 279px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 279px;
    left: 439px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_14 {
    width: 317px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 279px;
    left: 65%;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_15 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 564px;
    left: 81px;
    overflow: hidden;
}

.v2_16 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 81px;
    overflow: hidden;
}

.v2_17 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 495px;
    overflow: hidden;
}

.v2_18 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 362px;
    left: 555px;
    overflow: hidden;
}

.v2_19 {
    width: 277px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 479px;
    left: -1px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_20 {
    width: 270px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 490px;
    left: 403px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_21 {
    width: 786px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 564px;
    left: 495px;
    overflow: hidden;
}

.v2_22 {
    width: 153px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 681px;
    left: 75px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_23 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 745px;
    left: 81px;
    overflow: hidden;
}

.v2_24 {
    width: 242px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 690px;
    left: 439px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_25 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 745px;
    left: 495px;
    overflow: hidden;
}

.v2_27 {
    width: 282px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 688px;
    left: 68%;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

#submit {
    top: 145%;
    position: absolute;
    left: 37%;
    width: 9%;
    height: 51px;
    font-size: large;
}

#submit:hover {
    background-color: #5f9ea0;
    color: white;
}

#reset:hover {
    background-color: red;
    color: #fff;
}

#reset {
    top: 145%;
    position: absolute;
    left: 48%;
    width: 9%;
    height: 51px;
    font-size: large;
}

.v2_28 {
    width: 335px;
    height: 44px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 745px;
    left: 555px;
    overflow: hidden;
}

.v2_29 {
    width: 200px;
    height: 61px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 896px;
    left: 416px;
    overflow: hidden;
}

.v2_30 {
    width: 144px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 908px;
    left: 444px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v2_31 {
    width: 177px;
    height: 61px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 896px;
    left: 720px;
    overflow: hidden;
}

.v2_32 {
    width: 140px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 908px;
    left: 737px;
    font-family: Ubuntu;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}